<div>
    <div  id="MainCommentPanel">
        <h2 class='ser-title'>SEE WHAT PATIENTS ARE SAYING?</h2>
        <hr  class="botm-line">


        <div class='row'>
            <div class="col-md-4">
                <app-patient-comment></app-patient-comment>
            </div>
            <div class="col-md-4">
                <app-patient-comment></app-patient-comment>
            </div>
            <div class="col-md-4">
                <app-patient-comment></app-patient-comment>
            </div>
        </div>

    </div>
</div>
