<!--<div>
  <div class="service-info">
            <div class="icon">
              <i class="fa fa-stethoscope"></i>
            </div>
            <div class="icon-info">
              <h4>24 Hour Support</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
  </div>
 </div>-->

 <div>
  <div class="service-info">
            <div class="icon">
              <i [class]="ClassText"></i>
            </div>
            <div class="icon-info">
              <h4>{{Title}}</h4>
              <p>{{Text}}</p>
            </div>
  </div>
 </div>