<div>
  <div class='row'>
  <div class='col-md-12'>
    <div class='col-md-3'>
       <app-doctorcontet Name="Jessica Wally" Title="Doctor"  imagePath="assets\images\doctor1.jpg"></app-doctorcontet>
    </div>
    <div class='col-md-3'>
       <app-doctorcontet Name="Iai Donas" Title="Doctor"  imagePath="assets\images\doctor2.jpg"></app-doctorcontet>
    </div>
    <div class='col-md-3'>
       <app-doctorcontet Name="Amanda Denyl" Title="Doctor"  imagePath="assets\images\doctor3.jpg"></app-doctorcontet>
    </div>
    <div class='col-md-3'>
       <app-doctorcontet Name="Jason Davis" Title="Doctor"  imagePath="assets\images\doctor4.jpg"></app-doctorcontet>
    </div>

  </div>
  </div>
</div>