<div>
  <div id="service">
  <div id='ServiceMainPanel'>
    <div class='row'>
        <div class="col-md-4 col-sm-4">
          <h2 class="ser-title">Our Service</h2>
          <hr class="botm-line">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris cillum.</p>
        </div>
        <div class='col-md-4 col-sm-4'>
            <app-med-service-panel Title="24 Hour Support" 
                                   Text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
                                   ClassText="fa fa-stethoscope"></app-med-service-panel>
            <app-med-service-panel Title="Emergency Service" Text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
            ClassText="fa fa-ambulance"></app-med-service-panel>
        </div>
        <div class='col-md-4 col-sm-4'>
            <app-med-service-panel Title="Medical Counseling" Text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
            ClassText="fa fa-user-md"></app-med-service-panel>
            <app-med-service-panel Title="Premium Healthcare" Text="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
            ClassText="fa fa-medkit"></app-med-service-panel>
        </div>
    </div>
  </div>
  </div>
</div>